// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Modules
// =============================================================================
@import '../../stylesheets/modules/mixins';
@import '../../stylesheets/modules/variables';

// =============================================================================
// DEFAULT STYLESHEET OVERRIDE STYLES
// =============================================================================
body {
  font-family: var(--main-font-family);
  color: var(--content-body-text-color);
}

// =============================================================================
// SITE HEADER
// =============================================================================
.header-title {
  &, & .header-link {
    font-size: var(--header-body-font-size);
    font-style: var(--header-body-font-style);
    font-weight: var(--header-body-font-weight);
    color: var(--header-body-text-color);
    text-decoration: var(--header-body-text-decoration);
    text-transform: var(--header-body-text-transform);
  }

  &, & .header-link {
    &:hover {
      font-size: var(--header-body-font-size);
      font-style: var(--header-body-hover-font-style);
      font-weight: var(--header-body-hover-font-weight);
      color: var(--header-body-hover-text-color);
      text-decoration: var(--header-body-hover-text-decoration);
      text-transform: var(--header-body-hover-text-transform);
    }
  }
}

// =============================================================================
// CONTENT
// =============================================================================
.content-topbar,
.content,
.content.two-columns,
.content .content-inner {
  background-color: var(--content-background-color);
}

// =============================================================================
// SITE'S MAIN MENU
// =============================================================================
.menu-main {
  .menu .menu-item .menu-link {
    font-style: var(--menu-main-font-style);
    font-weight: var(--menu-main-font-weight);
    color: var(--menu-main-color);
    text-decoration: var(--menu-main-text-decoration);
    text-transform: var(--menu-main-text-transform);
    opacity: .7;

    @include querymin($tablet-3) {
      font-size: var(--menu-main-font-size);
    };

    &.active {
      font-style: var(--menu-main-active-font-style);
      font-weight: var(--menu-main-active-font-weight);
      color: var(--menu-main-active-color);
      text-decoration: var(--menu-main-active-text-decoration);
      text-transform: var(--menu-main-active-text-transform);
      opacity: .5;

      &:hover {
        color: var(--menu-main-active-color);
      }
    }

    &:hover {
      font-style: var(--menu-main-hover-font-style);
      font-weight: var(--menu-main-hover-font-weight);
      color: var(--menu-main-hover-color);
      text-decoration: var(--menu-main-hover-text-decoration);
      text-transform: var(--menu-main-hover-text-transform);
      opacity: .5;
    }
  }
}

// =============================================================================
// SITE'S SUB MENU
// =============================================================================
.menu-sub {
  .menu .menu-item .menu-link {
    font-size: var(--menu-sub-font-size);
    font-style: var(--menu-sub-font-style);
    font-weight: var(--menu-sub-font-weight);
    color: var(--menu-sub-color);
    text-decoration: var(--menu-sub-text-decoration);
    text-transform: var(--menu-sub-text-transform);
    opacity: .5;

    &.active {
      font-style: var(--menu-sub-active-font-style);
      font-weight: var(--menu-sub-active-font-weight);
      color: var(--menu-sub-active-color);
      text-decoration: var(--menu-sub-active-text-decoration);
      text-transform: var(--menu-sub-active-text-transform);
      opacity: 1;

      &:hover {
        color: var(--menu-sub-active-color);
      }
    }

    &:hover {
      font-style: var(--menu-sub-hover-font-style);
      font-weight: var(--menu-sub-hover-font-weight);
      color: var(--menu-sub-hover-color);
      text-decoration: var(--menu-sub-hover-text-decoration);
      text-transform: var(--menu-sub-hover-text-transform);
      opacity: 1;
    }
  }
}

// =============================================================================
// BLOG LISTING AND ARTICLE
// =============================================================================
.post-page .post post-title,
.post .post-title a,
.blog-pate .post-date,
.post-page .post .post-header-inner,
.comments .comments-title {
  color: var(--secondary-color-content);
}

// =============================================================================
// TEXT TYPE CONTENT AREA
// =============================================================================
.content-formatted {
  .content & {
    @include querymin($tablet-1) {
      font-size: var(--content-body-font-size);
      line-height: var(--content-body-line-height);
    }
  }

  .footer & {
    font-size: var(--footer-body-font-size);
    font-style: var(--footer-body-font-style);
    font-weight: var(--footer-body-font-weight);
    color: var(--footer-body-color);
    text-decoration: var(--footer-body-text-decoration);
    text-transform: var(--footer-body-text-transform);
  }

  // Colors for editable content area elements with editable background.
  &, h1, h2, h3, h4, h5, h6, p, ul, ol, table {
    .light-background & {
      color: var(--secondary-color-content);
    }

    .dark-background & {
      color: var(--third-color);
    }
  }

  h1 {
    color: var(--headings-title-color);

    // scss-lint:disable NestingDepth
    // scss-lint:disable SelectorDepth
    &,
    a,
    a:hover {
      font-size: var(--headings-title-font-size);
      font-style: var(--headings-title-font-style);
      font-weight: var(--headings-title-font-weight);
      line-height: var(--headings-title-line-height);
      text-align: var(--headings-title-text-alignment);
      text-decoration: var(--headings-title-text-decoration);
      text-transform: var(--headings-title-text-transform);
    }
    // scss-lint:enable NestingDepth
    // scss-lint:enable SelectorDepth
  }

  h2 {
    color: var(--headings-heading-color);

    // scss-lint:disable NestingDepth
    // scss-lint:disable SelectorDepth
    &,
    a,
    a:hover {
      font-size: var(--headings-heading-font-size);
      font-style: var(--headings-heading-font-style);
      font-weight: var(--headings-heading-font-weight);
      line-height: var(--headings-heading-line-height);
      text-align: var(--headings-heading-text-alignment);
      text-decoration: var(--headings-heading-text-decoration);
      text-transform: var(--headings-heading-text-transform);
    }
    // scss-lint:enable NestingDepth
    // scss-lint:enable SelectorDepth
  }

  h3,
  h4,
  h5,
  h6 {
    color: var(--headings-subheading-color);

    // scss-lint:disable NestingDepth
    // scss-lint:disable SelectorDepth
    &,
    a,
    a:hover {
      font-size: var(--headings-subheading-font-size);
      font-style: var(--headings-subheading-font-style);
      font-weight: var(--headings-subheading-font-weight);
      line-height: var(--headings-subheading-line-height);
      text-align: var(--headings-subheading-text-alignment);
      text-decoration: var(--headings-subheading-text-decoration);
      text-transform: var(--headings-subheading-text-transform);
    }
    // scss-lint:enable NestingDepth
    // scss-lint:enable SelectorDepth
  }

  // Editable content area links.
  a {
    font-weight: var(--content-link-font-weight);
    font-style: var(--content-link-font-style);
    text-decoration: var(--content-link-text-decoration);
    text-transform: var(--content-link-text-transform);
    color: var(--content-link-color);

    &:hover {
      font-weight: var(--content-link-hover-font-weight);
      font-style: var(--content-link-hover-font-style);
      text-decoration: var(--content-link-hover-text-decoration);
      text-transform: var(--content-link-hover-text-transform);
      color: var(--content-link-hover-color);
    }
  }

  // Code blocks and preformatted content.
  pre,
  code {
    .front-page & {
      color: var(--secondary-color-content);
    }
  }

  table {
    th,
    td {
      padding: var(--table-padding);
      font-size: var(--table-font-size);
      border-top-style: var(--table-border-style);
      border-bottom-style: var(--table-border-style);
    }
  }

  .custom-btn,
  .edy-product-widget-list .edy-product-widget-item-wrap .edy-product-widget-item .edy-product-widget-item-details-wrap .edy-product-widget-item-btn-wrap .edy-product-widget-item-btn {
    padding: calc(var(--content-button-padding) - 13px) calc(var(--content-button-padding) - 10px);
    font-size: var(--content-button-font-size);
    font-style: var(--content-button-font-style);
    font-weight: var(--content-button-font-weight);
    text-decoration: var(--content-button-text-decoration);
    text-transform: var(--content-button-text-transform);
    border-color: var(--content-button-color);
    box-shadow: var(--content-button-border-width) var(--content-button-border-width) 0 rgba($black, .1);

    &:hover {
      font-style: var(--content-button-hover-font-style);
      font-weight: var(--content-button-hover-font-weight);
      text-decoration: var(--content-button-hover-text-decoration);
      text-transform: var(--content-button-hover-text-transform);
      border-color: var(--content-button-hover-color);
    }

    &:not(.custom-btn-disabled) {
      color: var(--content-button-color);
      background-color: var(--content-button-background-color);

      &:hover {
        color: var(--content-button-hover-color);
        background-color: var(--content-button-hover-background-color);
      }
    }

    .dark-background & {
      box-shadow: var(--content-button-border-width) var(--content-button-border-width) 0 rgba($black, .1);
    }

    .light-background & {
      box-shadow: var(--content-button-border-width) var(--content-button-border-width) 0 rgba($black, .2);
    }
  }

  .edy-buy-button-price-container {
    .edy-buy-button-price-original,
    .edy-buy-button-effective-price {
      color: var(--content-body-text-color);

      .dark-background & {
        color: var(--third-color);
      }
    }
  }
}

//==============================================================================
// "FORM" TYPE CONTENT AREA
//==============================================================================
.content-formatted {
  .form_field_textfield, .form_field_textarea, .form_field_select {
    font-size: var(--form-field-font-size);
    color: var(--form-field-color);
    box-shadow: var(--form-field-border-width) var(--form-field-border-width) 0 rgba($black, .1);

    .dark-background & {
      color: var(--secondary-color-content);
      box-shadow: var(--form-field-border-width) var(--form-field-border-width) 0 rgba($black, .1);
    }

    .light-background & {
      color: var(--third-color);
      box-shadow: var(--form-field-border-width) var(--form-field-border-width) 0 rgba($black, .2);
    }
  }

  .form_field {
    &, .form_field_label, .edy-fe-label {
      font-size: var(--form-label-font-size);
      color: var(--form-field-color);

      .dark-background & {
        color: var(--third-color);
      }

      .light-background & {
        color: var(--secondary-color-content);
      }
    }
  }

  .form_submit {
    input {
      font-size: var(--content-button-font-size);
      padding: calc(var(--content-button-padding) - 13px) calc(var(--content-button-padding) - 10px);
      color: var(--content-button-color);
      background-color: var(--content-button-background-color);
      box-shadow: var(--form-field-border-width) var(--form-field-border-width) 0 rgba($black, .1);

      font-style: var(--content-button-font-style);
      font-weight: var(--content-button-font-weight);
      text-decoration: var(--content-button-text-decoration);
      text-transform: var(--content-button-text-transform);

      &:hover {
        font-style: var(--content-button-hover-font-style);
        font-weight: var(--content-button-hover-font-weight);
        color: var(--content-button-hover-color);
        text-decoration: var(--content-button-hover-text-decoration);
        text-transform: var(--content-button-hover-text-transform);
        background-color: var(--content-button-hover-background-color);
      }

      .dark-background & {
        box-shadow: var(--form-field-border-width) var(--form-field-border-width) 0 rgba($black, .1);
      }

      .light-background & {
        box-shadow: var(--form-field-border-width) var(--form-field-border-width) 0 rgba($black, .2);
      }
    }
  }

  .form_area {

    .feedback-error, .feedback-success, .form_error, .form_notice {
      box-shadow: var(--form-field-border-width) var(--form-field-border-width) 0 rgba($black, .1);

      .dark-background & {
        box-shadow: var(--form-field-border-width) var(--form-field-border-width) 0 rgba($black, .1);
      }

      .light-background & {
        box-shadow: var(--form-field-border-width) var(--form-field-border-width) 0 rgba($black, .2);
      }
    }
  }
}

// =============================================================================
// AUTO-GENERATED PRODUCT PAGE
// =============================================================================
// Styling rules for the site's auto-generated product page and its elements.
.product-content {
  .product-price {
    color: var(--content-area-product-price__color);
    font-size: var(--content-area-product-price__font-size);
    font-weight: var(--content-area-product-price__font-weight);
    font-style: var(--content-area-product-price__font-style);

    .product-price-final {
      text-decoration: var(--content-area-product-price__text-decoration);
    }
  }

  .product-description {
    color: var(--content-area-product-description__color);
    font-size: var(--content-area-product-description__font-size);
    font-weight: var(--content-area-product-description__font-weight);
    font-style: var(--content-area-product-description__font-style);
    text-decoration: var(--content-area-product-description__text-decoration);
  }

  .content-item-title h1 {
    color: var(--content-area-product-title__color);
    font-size: var(--content-area-product-title__font-size);
    font-weight: var(--content-area-product-title__font-weight);
    font-style: var(--content-area-product-title__font-style);
    text-decoration: var(--content-area-product-title__text-decoration);
    text-align: var(--content-area-product-title__alignment);
  }
}

.dark-background {
  .edy-product-widget-grid .edy-product-widget-item {
    .edy-product-widget-item-details-wrap {
      .edy-product-widget-item-title,
      .edy-product-widget-item-link {
        color: var(--third-color);
      }

      .edy-product-widget-item-description {
        color: var(--third-color);
        opacity: .7;
      }
    }

    .edy-product-widget-item-top-outer .edy-product-widget-item-top.edy-product-widget-item-without-image {
      border: 1px solid var(--third-color);
      opacity: .5;
    }

    .edy-product-widget-item-details-flex-wrap {
      .edy-product-widget-item-out-of-stock,
      .edy-product-widget-item-btn {
        color: var(--third-color);
      }
    }

    &:hover {
      .edy-product-widget-item-price {
        opacity: 0;
      }
    }
  }
}

.dark-background {
  .edy-product-widget-list .edy-product-widget-item-wrap .edy-product-widget-item .edy-product-widget-item-details-wrap {
    .edy-product-widget-item-header {
      .edy-product-widget-item-title {
        .edy-product-widget-item-link {
          color: var(--third-color);
        }
      }

      .edy-product-widget-item-out-of-stock {
        color: var(--third-color);
      }
    }

    .edy-product-widget-item-description {
      color: var(--third-color);
    }

    .edy-product-widget-item-without-image {
      border: 1px solid var(--third-color);
      opacity: .5;
    }
  }
}

.edy-product-widget-filter-sort option {
  color: var(--secondary-color-content);
}

.dark-background {
  .edy-product-widget-item-price-original,
  .edy-product-widget-item-price-final,
  .edy-product-widget-filter-name,
  .edy-product-widget-filter-sort,
  .edy-product-widget-filter-label,
  .edy-product-widget-filter-search-input {
    color: var(--third-color);
  }

  .edy-product-widget-item-price-original {
    opacity: .4;
  }
}
