.of- {
  &hidden {
    overflow: hidden;
  }
}

.p-abs {
  position: absolute;
}

.p-rel {
  position: relative;
}

@media screen and (min-width: 1024px) {
  .t-sticky {
    position: sticky;
    top: 32px;
  }
}
