// Styling rules for the site's editable content area and its elements.
// NB! Each editable content-area - {% content %} - should be wrapped in the element that has the "content-formatted" class.
// NB! Contact forms and image galleries are located in the separate partials: "_forms.scss" and "_gallery.scss".
.content-formatted {
  @extend %clearfix;
  @include hyphenate(true);

  // Resets the bottom margin for all elements and top margin for all first elements in the editable content-area (to prevent unwanted white-space at the beginning of a content-area).
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  pre,
  code,
  img,
  iframe,
  table,
  form {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  // Styling rules for the editable content area headings and paragraphs.
  &,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  table {
    .light-background & {
      @include color($primary-color);
    }

    .dark-background & {
      @include color($white);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }

  iframe,
  pre,
  .edy-positionable-container-left-block,
  .edy-positionable-container-right-block {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h1 {
    text-align: center;
    font-size: 36px;

    @include query($mobile-1) {
      font-size: 32px;
    }
  }

  h2 {
    font-size: 24px;

    @include query($mobile-1) {
      font-size: 20px;
    }
  }

  h3, h4, h5, h6 {
    font-size: 20px;

    @include query($mobile-1) {
      font-size: 16px;

    }
  }

  a {
    @include color($blue-1, 1);

    &:hover {
      @include color($blue-1, 0.8);
    }
  }

  // Sets the dynamic line-height for the text.
  span[style*="font-size"] {
    line-height: 1.7em;
  }

  pre, code, iframe, table, form {
    @include hyphenate(false);
  }

  // Styling rules for the editable content area images, embedded videos, preformatted texts, code examples etc.
  pre {
    overflow: auto;
    white-space: nowrap;

    &, code {
      padding: 10px;
      font-size: 14px;
      @include bg($grey-5);
    }

    code {
      display: block;
      // margin-top: 0;
      padding: 0;
    }
  }

  iframe {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    margin: 20px 40px;
  }

  .edy-image-container-title-inner {
    padding: 4px 6px 2px;
    font-size: 16px;
  }

  .edy-positionable-container-left,
  .edy-positionable-container-right {
    width: 45%;
  }

  .edy-positionable-container-left {
    margin-right: 20px;
  }

  .edy-positionable-container-right {
    margin-left: 20px;
  }

  .edy-positionable-container-left,
  .edy-positionable-container-right {
    @include query($mobile-1) {
      margin-right: 0;
      margin-left: 0;
    }
  }

  // Styling rules for the site's editable content area tables.
  // Container around editable content-area table.

  // Overthrow plugin to support horizontal scrolling on older devices that have touch-screens. For example Android 2.3 devices.
  .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  table {
    width: 100%;
    font-size: 16px;
    border-collapse: collapse;

    td {
      padding: 10px;
      @include border(top, 1px, solid, $third-color);
      @include border(bottom, 1px, solid, $third-color);
    }
  }

  // CMS STYLE OVERRIDES

  // Draggable content area without content.
  // TODO: Remove if different color schemes are supported by VOOG.
  .dark-background & {
    .edy-empty-bordered {
      @include border(all, 1px, dashed, $white, 0.63);

      .edy-empty-header {
        @include color($white, 0.63);
      }
    }

    // Content area border.
    .edy-content-element-hover {
      @include border(all, 1px, solid, $white, 0.2);
    }

    .edy-texteditor-active {
      outline: 1px solid rgba($white, 0.4);

      &:hover {
        outline: 1px solid rgba($white, 0.63);
      }
    }
  }

  // Minimum height of the text content areas.
  .edy-texteditor-view {
    min-height: 36px;
  }

  // Two columns view custom content area (right)
  .content-right & {
    .edy-empty-bordered {
      padding: 251px 40px 252px;
    }

    .edy-texteditor-view {
      min-height: 525px;
    }
  }
}
