/* HEADER */
// Styling rules for the site's header. These rules affect the entire site.
.header {
  @extend %clearfix;
  position: relative;
  padding: 23px 0 21px;

  @include query($mobile-1) {
    position: static;
    padding: 7px 15px 6px;
  }
}

.header-left,
.header-right {
  @include query($tablet-2) {
    padding: 0 20px;
  }

  @include query($mobile-1) {
    padding: 0;
  }
}

.header-left {
  float: left;
  min-width: 220px;
  position: relative;
}

.header-right {
  text-align: right;
}

.header-title {
  position: relative;
  z-index: 11;
  display: inline-block;
  vertical-align: middle;
  font-weight: 600;
  font-size: 24px;

  .edy-editable {
    max-width: none;
    min-width: 120px;

    @include query($mobile-1) {
      max-width: 80%;
    }
  }

  &, a {
    @include color($secondary-color);
  }

  a:hover {
    @include color($secondary-color,.8);
  }
}
