/* CONTENT */
.content-topbar {
  min-height: 18px;
  @include bg($grey-4);
}

.content {
  display: block;

  &.two-columns {
    @extend %clearfix;
    @include bg($grey-4);

    & .content-formatted {
      h1 {
        text-align: left;
      }
    }
  }

  .content-inner {
    padding: 33px 50px 50px;
    @include bg($grey-4);

    @include query($tablet-1) {
      padding: 33px 20px 50px;
    }
  }

  .content-left,
  .content-right {
    float: left;
    width: 50%;
    padding: 43px 50px;
    @include box-sizing(border-box);

    @include query($tablet-3) {
      display: block;
      width: auto;
      float: none;
    }

    iframe {
      display: block;
      height: 525px;
    }
  }

  .content-left {
    @include query($tablet-3) {
      padding: 33px 20px 0;
    }
  }
  .content-right {
    @include query($tablet-3) {
      padding: 33px 20px 50px;
    }

    // TODO: Maybe there's a better way to style Google Maps?
    iframe {
      width: 100% !important;
    }
  }
}
