// Styling rules for the site's editable content area and its elements.
// NB! Each editable content-area - {% content %} - should be wrapped in the element that has the "content-formatted" class.
// NB! Contact forms and image galleries are located in the separate partials: "_forms.scss" and "_gallery.scss".
.content-formatted {
  @extend %clearfix;
  word-break: break-word;

  // Resets the bottom margin for all elements and top margin for all first elements in the editable content-area (to prevent unwanted white-space at the beginning of a content-area).
  h1, h2, h3, h4, h5, h6, p, ul, ol, pre, code, img, iframe, table, form {
    margin-bottom: 0;

    &:first-child {
      margin-top: 0;
    }
  }

  // Styling rules for the editable content area headings and paragraphs.
  h1, h2, h3, h4, h5, h6, p, ul, ol, table {
    & .light-background & {
      @include color($secondary-color);
    }

    .dark-background & {
      @include color($white);
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
  }

  h1, h2, p {
    margin-top: 32px;

    @include query($mobile-1) {
      margin-top: 28px;
    }
  }

  h1 {
    text-align: center;
    font-size: 36px;

    @include query($mobile-1) {
      font-size: 32px;
    }
  }

  h2 {
    font-size: 24px;

    @include query($mobile-1) {
      font-size: 20px;
    }
  }

  h3, h4, h5, h6 {
    margin-top: 23px;
    font-size: 20px;

    @include query($mobile-1) {
      margin-top: 19px;
      font-size: 16px;

    }
  }

  // Styling rules for the editable content area lists and links.
  ul {
    li {
    }
  }

  ol {
    li {
    }
  }

  a {
    @include color($blue-1, 1);

    &:hover {
      @include color($blue-1, 0.8);
    }
  }

  // Styling rules for the editable content area images, embedded videos, preformatted texts, code examples etc.
  img, iframe {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }

  pre {
    margin-top: 10px;
    margin-bottom: 0;
    overflow: auto;
    white-space: nowrap;

    &, code {
      padding: 10px;
      font-size: 14px;
      @include bg($grey-5);
    }

    code {
      display: block;
      margin-top: 0;
      padding: 0;
    }
  }

  blockquote {
    margin: 20px 40px;
  }

  .image-container {
    img {
      margin-top: 0;
    }
  }

  .edy-image-container-title-inner {
    padding: 4px 6px 2px;
    font-size: 16px;
  }

  .edy-positionable-container-left,
  .edy-positionable-container-right {
    width: 45%;
    margin-top: 11px;
    margin-bottom: 11px;
  }

  .edy-positionable-container-left {
    margin-right: 3%;
  }

  .edy-positionable-container-right {
    margin-left: 3%;
  }

  .edy-positionable-container-left,
  .edy-positionable-container-right {
    @include query($mobile-1) {
      float: none;
      width: auto;
      margin-left: 0;
      margin-right: 0;
    }
  }

  // Styling rules for the site's editable content area tables.
  // Container around editable content-area table.
  .table-container {
    margin-top: 20px;
  }

  // Overthrow plugin to support horizontal scrolling on older devices that have touch-screens. For example Android 2.3 devices.
  .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  // Adds dashed border to indicate that the table is too wide and can be scrolled horizontally.
  .horizontal-scroll {
    @include border(left, 1px, dashed, $third-color);
    @include border(right, 1px, dashed, $third-color);
  }

  table {
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
    border-collapse: collapse;

    td {
      padding: 10px;
      @include border(top, 1px, solid, $third-color);
      @include border(bottom, 1px, solid, $third-color);
    }
  }

  // CMS STYLE OVERRIDES

  // Draggable content area without content.
  // TODO: Remove if different color schemes are supported by VOOG.
  &.dark-background {
    .edy-empty-bordered {
      @include border(all, 1px, dashed, $white, 0.63);

      .edy-empty-header {
        @include color($white, 0.63);
      }
    }
  }

  // Space between editable content areas in editmode.
  .edy-content-element {
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }
  }

  // Minimum height of the text content areas.
  .edy-texteditor-view {
    min-height: 36px;
  }

  // Two columns view custom content area (right)
  .content-right & {
    .edy-empty-bordered {
      padding: 251px 40px 252px;
    }

    .edy-texteditor-view {
      min-height: 525px;
    }
  }
}
