/* FONTS */
@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/avenirnext-roman.eot?');
  src: url('../assets/avenirnext-roman.eot?#iefix') format('embedded-opentype'),
  url('../assets/avenirnext-roman.woff') format('woff'),
  url('../assets/avenirnext-roman.ttf')  format('truetype'),
  url('../assets/avenirnext-roman.svg#avernirnext-roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/avenirnext-heavy.eot?');
  src: url('../assets/avenirnext-heavy.eot?#iefix') format('embedded-opentype'),
  url('../assets/avenirnext-heavy.woff') format('woff'),
  url('../assets/avenirnext-heavy.ttf')  format('truetype'),
  url('../assets/avenirnext-heavy.svg#avernirnext-heavy') format('svg');
  font-weight: bold;
  font-style: normal;
}
