/* FOOTER */
.footer {
  padding: 30px 20px;
  text-align: center;
  font-size: 14px;
  @include color($secondary-color, 0.75);
  @include query($tablet-4) {
    font-size: 12px;
  }
  @include query($mobile-1) {
    padding: 20px 15px;
  }
}
