/* FRONT PAGE */
.front-page {
  .content {
    position: relative;
    padding: 0;
    width: 100%;
    @include bg($grey-3);

    .background-image,
    .background-color {
      z-index: 0;
    }

    .background-image {
      background-position: center;
      background-size: cover;
    }

    .content-inner {
      @include flexbox;
      @include justify-content(center);
      @include  align-items(center);
      padding: 0;
      min-height: 525px;
      background-position: center;
      background-size: cover;
      @include query($mobile-1) {
        min-height: 295px;
      }

      .content-body {
        position: relative;
        z-index: 1;
        @include flex;
        max-width: 572px;
        margin: 0 auto;
        padding: 40px;
        font-size: 36px;
        @include color($white);
        line-height: 1.1;

        @include query($tablet-4) {
          padding: 20px;
        }

        @include query($mobile-1) {
          padding: 78px 25px;
          font-size: 24px;
          line-height: 1.2;
        }
      }

      .content-formatted {
        h3 {
          text-align: center;
        }

        .fci-editor {
          min-height: 41px;
        }
      }
    }
  }
}
