/* FRONT PAGE */
.front-page {
  .content {
    position: relative;
    padding: 0;
    width: 100%;
    @include bg($grey-3);

    .background-image,
    .background-color {
      z-index: 0;
    }

    .background-image {
      background-position: center;
      background-size: cover;
      background-image: url('../photos/front-page-background.jpg');
    }

    .background-color {
      opacity: 0.5;
      @include bg($blue);
    }

    .content-inner {
      display: table;
      width: 100%;
      max-width: 585px;
      margin: 0 auto;
      padding: 0;
      height: 525px;
      background: none;

      @include query($mobile-1) {
        min-height: 295px;
      }

      .content-body {
        display: table-cell;
        vertical-align: middle;
        position: relative;
        z-index: 1;
        margin: 0 auto;
        padding: 40px;
        font-size: 36px;
        @include color($white);
        line-height: 1.1;

        @include query($tablet-4) {
          padding: 20px;
        }

        @include query($mobile-1) {
          padding: 78px 25px;
          font-size: 24px;
          line-height: 1.2;
        }
      }

      .content-formatted {
        h3 {
          text-align: center;
        }

        .fci-editor {
          min-height: 41px;
        }
      }
    }
  }
}
