/* GALLERY */
.edys-gallery-area {
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }

  .edys-gallery {
    @extend %clearfix;
    .edys-gallery-item {
      display: inline-block;
      padding-bottom: 1px;

      .edys-gallery-image {
        display: block;
        width: auto;
        height: auto;

        &.inactive {
          opacity: 0.6;
        }
      }
    }
  }
}
