/* GALLERY */
.edys-gallery-area {
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }

  .edys-gallery {
    &:hover {
      .edys-gallery-item {
        .edys-gallery-image {
          opacity: 0.6;
        }
      }
    }

    .edys-gallery-item {
      .edys-gallery-image {
        &:hover {
          opacity: 1;
        }
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}
