/* GENERAL */
body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
  @include color($primary-color);
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.background-image,
.background-color {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}



// TODO: Is there a better way to add margin to editable content areas?
.edy-content-element {
  margin-top: 20px !important;
  &:first-child {
    margin-top: 0 !important;
  }
}

.container {
  max-width: 940px;
  margin: 0 auto;
  a {
    text-decoration: none;
    img {
      border: none;
    }
  }
}

.content-formatted {
  @extend .clearfix;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    word-wrap: break-word;
    font-family: 'Avenir Next';
    font-weight: normal;
  }

  h1,
  h2,
  p {
    margin-top: 32px;
    @include query($mobile-1) {
      margin-top: 28px;
    }
  }

  h1 {
    text-align: center;
    font-size: 36px;
    @include query($mobile-1) {
      font-size: 32px;
    }
  }
  h2 {
    font-size: 24px;
    @include query($mobile-1) {
      font-size: 20px;
    }
  }
  h3,
  h4,
  h5,
  h6 {
    margin-top: 23px;
    font-size: 20px;
    @include query($mobile-1) {
      margin-top: 19px;
      font-size: 16px;

    }
  }

  a {
    @include color($blue,1);
    &:hover {
      @include color($blue,.8);
    }
  }

  img,
  pre,
  code {
    margin-top: 20px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  pre,
  code {
    display: block;
    overflow: auto;
    padding: 10px;
    font-size: 14px;
    @include bg($code-bg);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  img,
  pre,
  code,
  table {
    &:first-child {
      margin-top: 0;
    }
  }
  .edy-texteditor-view {
    min-height: 36px;
  }
}

.voog-reference {
  margin-top: 15px;
  a {
    display: inline-block;
    padding: 7px 9px;
    font-family: "Avenir Next";
    font-size: 10px;
    @include color($secondary-color, 0.75);
    line-height: 1;
    @include border(all,1px,solid,$black, 0.1);
    &:hover {
      @include color($secondary-color, 0.75);
      @include border(all,1px,solid,$black, 0.75);
    }
  }
}
