/* GENERAL */
body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
  @include color($primary-color);

  @include query($tablet-2) {
    background-image: none !important;
  }
}

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

%stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.background-image,
.background-color {
  @extend %stretch;
}

.container {
  max-width: 940px;
  margin: 0 auto;

  a {
    text-decoration: none;

    img {
      border: none;
    }
  }
}

.content-formatted {
  @extend %clearfix;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    word-wrap: break-word;
    font-family: 'Avenir Next';
    font-weight: normal;
  }

  h1,
  h2,
  p {
    margin-top: 32px;

    @include query($mobile-1) {
      margin-top: 28px;
    }
  }

  h1 {
    text-align: center;
    font-size: 36px;

    @include query($mobile-1) {
      font-size: 32px;
    }
  }

  h2 {
    font-size: 24px;

    @include query($mobile-1) {
      font-size: 20px;
    }
  }

  h3,
  h4,
  h5,
  h6 {
    margin-top: 23px;
    font-size: 20px;

    @include query($mobile-1) {
      margin-top: 19px;
      font-size: 16px;

    }
  }

  a {
    @include color($blue,1);

    &:hover {
      @include color($blue,.8);
    }
  }

  img,
  pre,
  code {
    margin-top: 20px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  pre,
  code {
    display: block;
    overflow: auto;
    padding: 10px;
    font-size: 14px;
    @include bg($grey-5);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  img,
  pre,
  code,
  table {
    &:first-child {
      margin-top: 0;
    }
  }

  .edy-texteditor-view {
    min-height: 36px;
  }
}
