/* HEADER */
.header {
  position: relative;
  padding: 24px 0 20px;

  .no-flexbox & {
    display: table;
  }

  .flexbox & {
    @include flexbox;
  }

  @include query($tablet-2) {
    .no-flexbox &,
    .flexbox & {
      display: block;
    }
  }

  @include query($mobile-1) {
    padding: 7px 15px 6px;
  }
}

.header-left,
.header-right {
  .no-flexbox & {
    display: table-cell;
    vertical-align: top;
  }

  @include query($tablet-1) {
    padding: 0 20px;
  }

  @include query($tablet-2) {
    .no-flexbox &,
    .flexbox & {
      display: block;
      width: auto;
    }
  }

  @include query($mobile-1) {
    padding: 0;
  }
}

.header-left {
  width: 270px;
  position: relative;
}

.header-right {
  width: 670px;
  text-align: right;
}

.header-title {
  display: inline-block;
  vertical-align: middle;
  max-width: 270px;
  font-weight: 600;
  font-size: 24px;

  &,
  a {
    @include color($secondary-color);
  }

  a:hover {
    @include color($secondary-color,.8);
  }
}
