/* HEADER */
.header {
  @include flexbox;
  position: relative;
  padding: 24px 0 21px;
  @include box-sizing(border-box);
  @include query($tablet-2) {
    display: block;
  }
  @include query($mobile-1) {
    padding-bottom: 0;
  }
}
.header-left,
.header-right {
  @include query($tablet-1) {
    padding: 0 20px;
  }
  @include query($tablet-2) {
    display: block;
  }
}
.header-left {
  position: relative;
  @include query($mobile-1) {
    padding: 0 20px 20px;
  }
}
.header-right {
  @include flex;
  text-align: right;
  @include query($mobile-1) {
    padding: 0;
  }
}

.header-title {
  display: inline-block;
  vertical-align: middle;
  max-width: 270px;
  font-family: "Avenir Next";
  font-size: 24px;
  &,
  a {
    @include color($secondary-color);
  }
  a:hover {
    @include color($secondary-color,.8);
  }
}
