/* HEADER */
// Styling rules for the site's header. These rules affect the entire site.
.header {
  position: relative;
  padding: 23px 0 21px;

  .no-flexbox & {
    display: table;
  }

  .flexbox & {
    @include display(flex);
  }

  @include query($tablet-2) {
    .no-flexbox &,
    .flexbox & {
      display: block;
    }
  }

  @include query($mobile-1) {
    padding: 7px 15px 6px;
  }
}

.header-left,
.header-right {
  .flexbox & {
    @include flex-grow(2);
  }

  .no-flexbox & {
    display: table-cell;
    vertical-align: top;
  }

  @include query($tablet-1) {
    padding: 0 20px;
  }

  @include query($tablet-2) {
    .no-flexbox &,
    .flexbox & {
      display: block;
      width: auto;
    }
  }

  @include query($mobile-1) {
    padding: 0;
  }
}

.header-left {
  position: relative;

  .no-flexbox & {
    width: 180px;
  }
}

.header-right {
  text-align: right;

  .no-flexbox & {
    width: 760px;
  }
}

.header-title {
  position: relative;
  z-index: 11;
  display: inline-block;
  vertical-align: middle;
  font-weight: 600;
  font-size: 24px;

  &, a {
    @include color($secondary-color);
  }

  a:hover {
    @include color($secondary-color,.8);
  }
}
