/* MENUS */
.menu-btn {
  display: none;
  @include query($tablet-2) {
    position: absolute;
    top: 8px;
    right: 20px;
    display: inline-block;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    &.open {
      .menu-stripe {
        @include bg($secondary-color, 0.47);
      }
    }
    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }
    .menu-stripe {
      display: block;
      width: 25px;
      height: 4px;
      margin: 4px 0;
      @include bg($secondary-color, 0.67);
      border-radius: 5px;
      &:first-child,
      &:last-child {
        margin: 0;
      }
    }
  }
}

.menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  li {
    display: inline;
    font-size: 14px;
  }
}

.main-menu {
  display: inline-block;
  vertical-align: middle;
  @include query($tablet-2) {
    display: none;
    &.expanded {
      position: absolute;
      top: 60px;
      right: 20px;
      z-index: 2;
      display: block;
      min-width: 350px;
      text-align: left;
      @include bg($white);
      @include query($mobile-1) {
        top: 0;
        left: 0;
        right: 0;
      }
    }
  }
  ul {
    line-height: 1.4;

    li {
      margin-left: 15px;
      &:first-child {
        margin-left: 0;
      }
      &.add-page-btn {
        display: inline-block;
        vertical-align: bottom;
      }
      @include query($tablet-2) {
        display: block;
        margin: 0;
        font-size: 20px;
        @include border(bottom,1px,solid,$primary-color, 0.2);
      }

      a {
        @include color($secondary-color, 0.67);
        &.active,
        &:hover {
          @include color($link-active-mobile-color, 0.67);
        }
        &.untranslated {
          @include color($red, 0.8);
        }
        @include query($tablet-2) {
          display: block;
          padding: 7px 25px 3px;
          &:hover,
          &.active {
            font-family: "Avenir Next";
            @include bg($link-active-mobile-bg);
          }
        }
      }
    }
  }

  .mobile-lang-menu {
    display: none;
    @include query($tablet-2) {
      display: block;
      padding-left: 0;
      li {
        text-align: left;
        &:first-child {
          border-top: none;
        }
        &.active a:hover {
          @include bg($link-active-mobile-bg);
        }
        a {
          padding: 14px 30px 11px 53px;
          font-size: 14px;
          &:before,
          &:after {
            top: 16.5px;
            left: 25px;
          }
          &:hover {
            @include bg($white);
          }
        }
      }
    }
  }
}

.sub-menu {
  margin: 0 30px;
  @include query($tablet-1) {
    margin: 0 200px;
  }
  padding: 7px 0;
  @include border(bottom,1px,solid,$primary-color, 0.2);
  li {
    margin-right: 12px;
    &:last-child {
      margin-right: 0;
    }
    a {
      @include color($third-color);
    }
    a:hover,
    &.active a {
      @include color($secondary-color);
    }
  }
  .nav-menu {
    text-align: center;
  }
}

.lang-menu {
  position: relative;
  display: inline-block;
  line-height: 1;
  @include query($tablet-2) {
    display: none;
  }

  li {
    display: list-item;
    text-align: right;
    font-size: 12px;

    a {
      position: relative;
      display: block;
      padding: 5px 40px 3px 13px;
      @include color($secondary-color, 0.67);
      &:hover,
      &.active {
        @include bg($link-active-color);
      }
      &:before,
      &:after {
        top: 3px;
        right: 12px;
      }
    }
    &.add-lang-btn {
      margin-top: 5px;
      margin-right: 10px;
      text-align: right;
    }
    &.edy-menu-langadd {
      margin-left: 5px;
    }
  }
}

.lang-menu-btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 13px;
  margin-top: 7px;
  margin-left: 12px;
  font-size: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  &:hover {
    // TODO: Hover effect
  }
  &:before,
  &:after {
    top: 0;
    left: 0;
  }
}
.lang-menu-btn,
.lang-menu li a.lang-flag {
  &:before,
  &:after {
    position: absolute;
    display: block;
    width: 20px;
    height: 13.5px;
    content: '';
  }
}
.lang-menu-btn,
.lang-menu li a.lang-flag {
  &:before {
    @include bg($black);
  }
  &:after {
    opacity: 0.95;
    background-size: 200px;
    background-repeat: no-repeat;
    background-image: url('../images/ico-flags.png');
  }
}

.lang-menu-popover {
  display: none;
  &.expanded {
    position: absolute;
    top: 26px;
    right: -12px;
    display: block;
    padding: 6px 0;
    min-width: 121px;
    background: #fff;
    // @include box-shadow(0, 0, 5px, rgba($black, 0.3));
    @include box-shadow(0, 0, 5px, rgba($black, 0.3));
    z-index: 1;
  }
}

.sq:after {
  background-position: 0 0; // Albanian
}
.hy:after {
  background-position: -20px 0; // Armenia
}
.bn:after {
  background-position: -40px 0; // Bangladesh
}
.pt:after {
  background-position: -60px 0; // Brazil
}
.bg:after {
  background-position: -80px 0; // Bulgaria
}
.zh:after {
  background-position: -100px 0; // China
}
.hr:after {
  background-position: -120px 0; // Croatia
}
.da:after {
  background-position: -140px 0; // Denmark
}
.cs:after {
  background-position: -160px 0; // Czech  Republic
}
.et:after {
  background-position: -180px 0; // Estonia
}

.fi:after {
  background-position: 0 -14px; // Finland
}
.fr:after {
  background-position: -20px -14px; // France
}
.ka:after {
  background-position: -40px -14px; // Georgia
}
.de:after {
  background-position: -60px -14px; // Germany
}
.el:after {
  background-position: -80px -14px; // Grecee
}
.hu:after {
  background-position: -100px -14px; // Hungary
}
.is:after {
  background-position: -120px -14px; // Iceland
}
.hi:after {
  background-position: -140px -14px; // India
}
.id:after {
  background-position: -160px -14px; // Indonesia
}
.fa:after {
  background-position: -280px -14px; // Iran
}

.he:after {
  background-position: 0 -27px; // Israel
}
.it:after {
  background-position: -20px -27px; // Italy
}
.ja:after {
  background-position: -40px -27px; // Japan
}
.ko:after {
  background-position: -60px -27px; // Korea, South
}
.lv:after {
  background-position: -80px -27px; // Latvia
}
.lt:after {
  background-position: -100px -27px; // Lithuania
}
.ms:after {
  background-position: -120px -27px; // Malaysia
}
.nl:after {
  background-position: -140px -27px; // Netherlands
}
.no:after {
  background-position: -160px -27px; // Norway
}
.ur:after {
  background-position: -280px -27px; // Pakistan
}

.fil:after {
  background-position: 0 -40px; // hilipines
}
.pl:after {
  background-position: -20px -40px; // Poland
}
.ro:after {
  background-position: -40px -40px; // Romania
}
.ru:after {
  background-position: -60px -40px; // Russia
}
.ar:after {
  background-position: -80px -40px; // Saudi  Arabia
}
.lt:after {
  background-position: -100px -40px; // Slovakia
}
.sk:after {
  background-position: -120px -40px; // Slovenia
}
.es:after {
  background-position: -140px -40px; // Spain
}
.sv:after {
  background-position: -160px -40px; // Sweden
}
.tr:after {
  background-position: -180px -40px; // Turkey
}

.uk:after {
  background-position: 0px -53px; // Ukraine
}
.en:after {
  background-position: -20px -53px; // USA
}
