/* MOBILE VIEW */
@media screen and (max-width: $mobile-1) {
  /* GENERAL */
  .content-formatted {
    h1,
    h2,
    p {
      margin: 28px 0 0;
    }
    h1 {
      font-size: 32px;
    }
    h2 {
      font-size: 20px;
    }
    h3,
    h4,
    h5,
    h6 {
      margin: 19px 0 0;
      font-size: 16px;
    }
  }

  /* MENUS */
  .main-menu {
    &.expanded {
      top: 0;
      left: 0;
      right: 0;
    }
  }

  /* HEADER */
  .header {
    padding: 24px 0 0;
  }
  .header-left {
    padding: 0 20px 20px;
  }
  .header-right {
    padding: 0;
  }

  /* FRONT PAGE */
  .front-page {
    .content {
      .content-formatted {
        font-size: 32px;
      }
    }
  }

  /* BLOG & BLOG ARTICLE */
  .post-right {
    display: block;
    margin-left: 0;
  }
}

@media screen and (max-width: $mobile-2) {
  /* FORMS */
  .form_field_textfield,
  .form_field_textarea,
  .form_submit input {
    width: 100%;
    max-width: 100%;
  }
}
