/* SEARCH */
// Styling rules for the site's search box. These rules affect the entire site.
.search {
  @extend %clearfix;
  display: inline-block;
  vertical-align: middle;
  margin-top: -4px;
  margin-left: 15px;
  height: 30px;
  line-height: 1;
  @include bg($white);
  @include border(all, 1px, solid, $black, 0.1);

  &.active {
    @include border(all, 1px, solid, $black, 0.3);
  }

  @include query($tablet-2) {
    display: none;
  }

  .edys-search,
  .search-left,
  .search-right {
    height: 30px;
    line-height: 1;
  }

  .search-left,
  .search-right {
    float: left;
  }

  .search-input {
    vertical-align: middle;
    width: 101px;
    height: 28px;
    margin: 0;
    padding: 1px 0 0 7px;
    font-family: inherit;
    font-size: 14px;
    line-height: 1;
    @include color($secondary-color, 0.67);
    background: none;
    border: none;

    // Removes the clear input button in IE11
    &::-ms-clear {
      display: none;
    }

    &::-webkit-input-placeholder {
      padding: 2px 0 4px 0;
      line-height: 1;
    }
  }

  .edys-search-input,
  .search-submit {
    &:focus {
      outline: none;
    }
  }

  .search-submit {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    @include bg($white);
    border: none;
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
  }
  .no-svg & {
    .search-submit {
      background-image: url("../images/ico-search.png");
    }
  }
  .svg & {
    .search-submit {
      background-image: url("../assets/ico-search.svg");
    }
  }
}
