// VARIABLES
// General text colors
$primary-color: #696b6C;
$secondary-color: #1b2124;
$third-color: #9c9e9e;

// Specific text colors
$link-active-color: #ccc;
$link-color: #838586;

// General background colors
$primary-bg: #333;
$secondary-bg: #eee;

// Specific background colors
$code-bg: #fafafa;
$link-active-mobile-bg: #c7e5ff;

// General colors
$black: #000;
$white: #fff;

$red: #C00;
$green: #60a740;
$blue: #06b;

// Media queries
$tablet-1: 940px;
$tablet-2: 840px;
$tablet-3: 760px;
$tablet-4: 600px;

$mobile-1: 480px;
$mobile-2: 420px;
