@import 'bourbon/bourbon';
@import '_mixins';

// MENUS

// GENERAL

// HEADER
.header {
  display: table;
  width: 100%;
  .header-left,
  .header-right {
    display: table-cell;
    vertical-align: middle;
  }
}

// TOPBAR

// SIDEBAR

// CONTENT

/* FRONT PAGE */
.front-page {
  .content {
    .background-color {
      -ms-filter: "alpha(opacity=50)";
    }
    .content-inner {
      display: table;
      margin: 0 auto;

      .content-formatted {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}

// COMMON PAGE

// BLOG & ARTICLE
.post {
  .post-right {
    display: inline-block;
    vertical-align: top;
    width: 722px;
  }
}

// GALLERY

// TABLES

// SEARCH
.search {
  @include border(all,1px,solid,#e5e5e5);
  .search-left {
    line-height: 1.5;
  }
}

// FORMS
.content-formatted {
  .form_field_textfield,
  .form_field_select {
    height: 34px;
  }
}

// COMMENTS

// FOOTER

.footer {
  .voog-reference {
    a {
      @include border(all,1px,solid,#e5e5e5);
    }
  }
}
