/* General */
body { font: 400 24px/1.3 "AvenirNext", sans-serif; }

h1 { font-size: 36px; }
h2 { font-size: 24px; }

.page-wrap { max-width: 940px; }

/* Header */
.site-header { margin: 27px 0 20px; }
.header-inner-left { max-width: 250px; }

/* Menus */
.menu li, .sub-menu-wrap .filters-label {	font-size: 14px; }
.main-menu-wrap {	max-width: 670px; }
.main-menu-wrap .menu li { margin-left: 13px; }

.sub-menu-inner {
	margin: 0 30px;
	padding: 12px 30px 14px;
}
.sub-menu-wrap .filters-label {
	margin-left: 24px;
	width: 98px;
}
.sub-menu-wrap .menu li a { margin-left: 13px; }

.lang-menu-wrap {	margin-left: 13px; }
.lang-menu-popover {
	min-width: 121px;
	padding: 6px 0;
	right: -12px;
	top: 31px;

}
.lang-menu-popover .menu li {	font-size: 12px; }
.lang-menu-popover .menu li a { padding: 5px 40px 3px 13px; }
.lang-menu-popover .menu li a:after {
	right: 11px;
	top: 3px;
	width: 20px;
	height: 13px;
}

/* Content area */
.content-wrap { padding: 46px 50px; }
.content-wrap p, .content-wrap img { margin-bottom: 38px; }
.content-wrap ul { margin: 14px 0 33px 0; }
.content-wrap ul li:before {
	left: -22px;
	top: 2px;
	font-size: 20px;
}
.pad-46-5 {	padding: 46px 50px; }

.fp-content-wrap { padding: 101.5px 180px; }

/* Gallery */
.edys-gallery-area { margin: 21px 0 30px; }
.edys-gallery-area a { width: 140px; }

/* Blog posts */
.post-wrap {
	margin-bottom: 46px;
	padding: 0 30px;
}
.post-inner-left {
	font-size: 14px;
	padding: 7px 0 0 0;
	width: 100px;
}
.post-inner-right {	max-width: 673px; }
.post-title {	margin-bottom: 14px; }
.excerpt-content { margin-bottom: 12px; }
.post-content img {
	width: 100%;
	height: auto;
}

.link-btn {
	font-size: 14px;
	padding: 6px 10px;
}

/* Search */
.search-wrap {
	height: 32px;
	margin-left: 20px;
}
.edys-search, .search-left, .search-right {	height: 30px; }
.edys-search-input {
	font-size: 12px;
	height: 30px;
	padding: 5px 0 4px 7px;
	width: 108px;
}
.edys-search-input::-webkit-input-placeholder {	padding: 2px 0 4px 0; }
.search-submit {
	height: 30px;
	width: 30px;
}

/* Forms */
.content-wrap form {
	margin: 18px auto;
	max-width: 425px;
}
.form_field label {	font-size: 14px; }
.form_field_textfield, .form_field_textarea, .form_submit input {
	font-size: 100%;
	margin-bottom: 17px;
}
.form_field_textarea { min-height: 62px; }
.form_submit input {
	font-size: 14px;
	padding: 8px 11px;
}

/* Footer */
.site-footer {
	font-size: 14px;
	margin: 33px 50px;
}
.footer-content {	margin-bottom: 13px; }
.edicy-link {
	font-size: 10px;
	padding: 7px 9px;
}