.header {
  display: table;
  width: 100%;
}
.header .header-left,
.header .header-right {
  display: table-cell;
  vertical-align: middle;
}

/* FRONT PAGE */
.front-page .content .background-color {
  -ms-filter: "alpha(opacity=50)";
}
.front-page .content .content-inner {
  display: table;
  margin: 0 auto;
}
.front-page .content .content-inner .content-formatted {
  display: table-cell;
  vertical-align: middle;
}

.post .post-right {
  display: inline-block;
  vertical-align: top;
  width: 722px;
}

.search {
  border: 1px solid #e5e5e5;
}
.search .search-left {
  line-height: 1.5;
}

.content-formatted .form_field_textfield,
.content-formatted .form_field_select {
  height: 34px;
}

.footer .voog-reference a {
  border: 1px solid #e5e5e5;
}
