/* Fonts */
@font-face {
	font-family: "AvenirNext";
	src: url("../assets/avenirnextltpro-regular.eot");
	src: url("../assets/avenirnextltpro-regular.eot") format("embedded-opentype"),
	url("../assets/avenirnextltpro-regular.woff") format("woff"),
	url("../assets/avenirnextltpro-regular.ttf") format("truetype"),
	url("../assets/avenirnextltpro-regular.svg#AvenirNextLTProRegular") format("svg");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "AvenirNext";
	src: url("../assets/avenirnextltpro-demi.eot");
	src: url("../assets/avenirnextltpro-demi.eot") format("embedded-opentype"),
	url("../assets/avenirnextltpro-demi.woff") format("woff"),
	url("../assets/avenirnextltpro-demi.ttf") format("truetype"),
	url("../assets/avenirnextltpro-demi.svg#AvenirNextLTProDemi") format("svg");
	font-weight: 600;
	font-style: normal;
}

/* Reset */
*:not([class*="edy-"]), *:not([class*="edy-"]):before, *:not([class*="edy-"]):after {
	-webkit-box-sizing: border-box;	-moz-box-sizing: border-box; box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body, h1, h2, h3, h4, h5, h6, p, .menu {
	margin: 0;
	padding: 0;
}
.cfx:after {
	content: "";
	display: table;
	clear: both;
}

/* General */
html { font-size: 62.5%; }
body {
	color: rgba(105,107,108,1);
	font-family: "AvenirNext", sans-serif;
	font-size:  2.4rem;
	font-weight: 400;
	line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 { color: rgba(27,33,36,1); }
h1 { font-size: 3.6rem; }
h2 { font-size: 2.4rem; }
h3, h4, h5, h6 { font-size: 2rem; }
a {
	color: rgba(0,102,187,1);
	text-decoration: none;
}
a:hover { color: rgba(0,102,187,0.8); }
a img {	border: none; }
a img:hover { opacity: 0.8; }
pre {
	background: rgba(250,250,250,1);
	overflow: auto;
	padding: 1rem;
}

.centered {	text-align: center; }
.bold {	font-weight: 600; }

img {
	max-width: 100%;
	height: auto;
}

.page-wrap {
	max-width: 94rem;
	margin: 0 auto;
}

/* Header */
.site-header {
	display: table;
	margin: 2.7rem 0 1.7rem;
	position: relative;	
	width: 100%;
}
.header-inner-left, .header-inner-right {
	display: table-cell;
	vertical-align: middle;
}

.header-inner-left {
	text-align: left;
	max-width: 25rem;
}

.header-inner-right { text-align: right; }

.header-logo { display: inline-block; }
.header-logo a { color: rgba(27,33,36,1); }
.header-logo a:hover { color: rgba(27,33,36,0.8); }

/* Menus */
.mobile-menu-btn-wrap, .lang-menu-popover {	display: none; }
.mobile-menu-wrap .menu {	display: none; }
.menu {	list-style: none; }
.menu-horizontal, .menu-horizontal li, .filters-label {	display: inline-block; }
.menu li, .sub-menu-wrap .filters-label {	font-size: 1.4rem; }
.main-menu-wrap {
	display: inline-block;
	max-width: 49rem;
	vertical-align: middle;
}
.main-menu-wrap .menu {	text-align: right; }
.main-menu-wrap .menu li {
	line-height: 1;
	margin-left: 1.3rem;
	vertical-align: middle;
}
.main-menu-wrap .menu li:first-child { margin-left: 0; }
.main-menu-wrap .menu li a {
	color: rgba(27,33,36,0.67);
	display: inline-block;
	font-weight: 600;
}
.main-menu-wrap .menu li a:hover { color: rgba(27,33,36,0.37); }
.main-menu-wrap .menu li .active, .main-menu-wrap .menu li .active:hover { color: rgba(131,133,134,0.67); }


.sub-menu-inner {
	border-bottom: 1px solid rgba(105,107,108,0.2);
	margin: 0 3rem;
	padding: 1.2rem 3rem 1.4rem;
}
.sub-menu-wrap .filters-wrap { margin-left: 2.4rem; }
.sub-menu-wrap .filters-label, .sub-menu-wrap .menu li a { color: rgba(156,158,158,1); }
.sub-menu-wrap .menu li a:hover { color: rgba(156,158,158,0.6); }
.sub-menu-wrap .filters-label {
	margin-top: 1.1rem;
	vertical-align: top;
	width: 9.8rem;
}
.sub-menu-wrap .menu {
	max-width: 69.2rem;
	text-align: center;
}
.sub-menu-wrap .menu li { margin-right: 1.3rem; }
.sub-menu-wrap .menu li:last-child { margin-right: 0; }
.sub-menu-wrap .menu li .active, .sub-menu-wrap .menu li .active:hover {	color: rgba(27,33,36,1); }
.sub-menu-wrap .tag-menu { text-align: left; }

.lang-menu-wrap {
	display: inline-block;
	margin-bottom: 0.3rem;
	margin-left: 1.3rem;
	position: relative;
	vertical-align: middle;
}
.lang-btn {
	background: rgba(255,255,255,1) url("../images/tmp/flag-us.png") center no-repeat;
	background-size: cover;
	border: none;
	cursor: pointer;
	padding: 0;
	vertical-align: middle;
	width: 20px;
	height: 13px;
}
.lang-btn:hover { opacity: 0.8; }
.lang-btn:focus { outline: none; }
.lang-menu-popover {
	background: rgba(255,255,255,1);
	min-width: 12.1rem;
	text-align: left;
	padding: 0.6rem 0;
	position: absolute;
	right: -1.2rem;
	top: 3.1rem;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.3); -moz-box-shadow: 0 0 1px rgba(0,0,0,0.3); box-shadow: 0 0 1px rgba(0,0,0,0.3);
	white-space: nowrap;
}
.lang-menu-popover .menu { text-align: right; }
.lang-menu-popover .menu li {	font-size: 1.2rem; }
.lang-menu-popover .menu li a {
	color: rgba(27,33,36,0.67);
	display: block;
	line-height: 1;
	padding: 0.5rem 4rem 0.3rem 1.3rem;
	position: relative;
}
.lang-menu-popover .menu li a:after {
	content: "";
	display: block;
	position: absolute;
	right: 1.1rem;
	top: 0.3rem;
	width: 20px;
	height: 13px;
}
.lang-menu-popover .menu li a:hover {	
	background: rgba(204,204,204,1); }
.lang-us:after {
	background: url("../images/tmp/flag-us.png") right center no-repeat;
	background-size: contain;
}
.lang-de:after { background: url("../images/tmp/flag-de.svg") right center no-repeat; }
.lang-et:after { background: url("../images/tmp/flag-et.svg") right center no-repeat; }

/* Content area */
.content-wrap {
	min-height: 14rem;
	padding: 4.6rem 5rem;
}
.content-wrap.pad-0 { padding: 0; }
.content-wrap h1, .content-wrap h2, .content-wrap h3, .content-wrap h4, .content-wrap h5, .content-wrap h6 {
	margin-bottom: 2.7rem;
}
.content-wrap p, .content-wrap img, .content-wrap ul, .content-wrap ol .content-wrap object, .content-wrap iframe { margin: 0 0 3.8rem 0; }
.content-wrap p:last-child { margin: 0; }
.content-wrap iframe, .content-wrap object {
	display: inline-block;
	max-width: 100%;
}
.content-inner-half {
	float: left;
	width: 50%;
}
.content-inner-half iframe {
	display: block;
	margin: 0;
}
.pad-46-5 {	padding: 4.6rem 5rem; }

.fp-content-wrap {
	background: url("../photos/front-page-content-bg.jpg") center top no-repeat;
	background-size: cover;
	display: table;
	padding: 10.15rem 18rem;
}
.fp-content-align-middle {
	display: table-cell;
	vertical-align: middle;
}
.fp-content, .fp-content h1, .fp-content h2, .fp-content h3, .fp-content h4,
	.fp-content h5, .fp-content h6, .fp-content p, .fp-content ul { color: rgba(255,255,255,1); }
.fp-content h1 {
	font-weight: 400;
	line-height: 1.15;
}

.cp-content-wrap, .sub-menu-wrap { background: rgba(238,238,238,1); }

/* Gallery */
.edys-gallery-area { margin: 2.1rem 0 3rem; }
.edys-gallery-area a {
	float: left;
	height: auto;
	width: 14rem;
}
.edys-gallery-area img {
	margin: 0;
	display: block;
	height: auto;
	width: 100%;
}
.edys-gallery-area:hover img { opacity: 0.6; }
.edys-gallery-area img:hover { opacity: 1; }
.edys-gallery a {	padding-right: 0 !important; }

/* Blog posts */
.post-wrap {
	margin-bottom: 4.6rem;
	padding: 0 3rem;
}
.post-wrap:last-child {
	margin: 0;
}
.post-inner-left {
	display: inline-block;
	font-size: 1.4rem;
	padding: 0.7rem 0 0 0;
	vertical-align: top;
	width: 10rem;
}
.post-inner-right {
	display: inline-block;
	max-width: 67.3rem;
	vertical-align: top;
}
.post-date, .post-title a { color: rgba(27,33,36,0.5); }
.post-title { margin-bottom: 1.4rem; }
.post-title a { color: rgba(27,33,36,1); }
.post-title a:hover { color: rgba(27,33,36,0.8); }
.excerpt-content { margin-bottom: 1.2rem; }
.post-excerpt-content { margin-bottom: 3.8rem; }

.link-btn {
	background: rgba(105,107,108,0.5);
	color: rgba(255,255,255,1);
	display: inline-block;
	font-size: 1.4rem;
	line-height: 1;
	padding: 0.6rem 1rem;
}
.link-btn:hover {
	background: rgba(105,107,108,0.8);
	color: rgba(255,255,255,1);
}

/* Search */
.search-wrap {
	border: 1px solid rgba(0,0,0,0.1);
	display: inline-block;
	height: 3.2rem;
	line-height: 1;
	margin-left: 2rem;
	margin-top: 0.3rem;
	vertical-align: middle;
}
.edys-search, .search-left, .search-right {
	height: 3rem;
	line-height: 1;
}
.search-left, .search-right {	float: left; }
.edys-search-input {
	background: none;
	border: none;
	font-family: inherit;
	font-size: 1.2rem;
	height: 3rem;
	line-height: 1;
	margin: 0;
	padding: 0.4rem 0 0.4rem 0.7rem;
	vertical-align: middle;
	width: 10.8rem;
}
.edys-search-input::-ms-clear {
	display: none;
}
.edys-search-input::-webkit-input-placeholder {
	line-height: 1;
	padding: 0.2rem 0 0.4rem 0;
}
.edys-search-input:focus, .search-submit:focus { outline: none; }
.search-submit {
	background: none;
	border: none;
	cursor: pointer;
	height: 3rem;
	padding: 0;
	vertical-align: top;
	width: 3rem;
}
.search-submit:hover { opacity: 0.6; }
.no-svg .search-submit { background: rgba(255,255,255,1) url("../images/ico-search.png") center no-repeat; }
.svg .search-submit { background: rgba(255,255,255,1) url("../assets/ico-search.svg") center no-repeat; }

/* Forms */
.content-wrap form {
	margin: 1.8rem auto;
	max-width: 42.5rem;
}

.form_field {	margin-bottom: 1.7rem; }

.form_field label {
	color: rgba(27,33,36,1);
	display: block;
	font-size: 1.4rem;
	font-weight: 600;
}

.form_field .form_field_label {
	background-position: 0 0.2rem;
	background-repeat: no-repeat;
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	height: 2rem;
	padding-left: 2.6rem;
	position: relative;
	
	-webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none;	user-select: none;
}
/*.form_field_checkbox:checked + label.checkbox_label, .form_field_radio:checked + label.radio_label { }*/

.form_field .checkbox_label:before, .form_field .radio_label:before {
	background: rgba(255,255,255,1);
	content: "";
	display: block;
	height: 1.7rem;
	left: 0;
	position: absolute;
	top: -0.1rem;
	-webkit-box-shadow: 0.2rem 0.2rem 0 rgba(0,0,0,0.1); -moz-box-shadow: 0.2rem 0.2rem 0 rgba(0,0,0,0.1); box-shadow: 0.2rem 0.2rem 0 rgba(0,0,0,0.1);
	width: 1.7rem;
}

.form_field .checkbox_label.checked:after {
	display: block;
	content: "";
	top: -0.5rem;
	left: 0.3rem;
	position: absolute;
	height: 1.7rem;
	width: 1.7rem;
}

.svg .form_field .checkbox_label.checked:after { background: url("../assets/tick.svg") center center no-repeat; }
.form_field label.radio_label:before, .form_field label.radio_label.checked:after { border-radius: 100%; }

.form_field label.radio_label.checked:after {
	background: rgba(27,33,36,1);
	content: "";
	display: block;
	height: 1.1rem;
	left: 0.3rem;
	position: absolute;
	top: 0.2rem;
	width: 1.1rem;
}

.form_field_textfield, .form_field_textarea, .form_field_select, .form_submit input {
	border: none;
	border-radius: 0;
	font-family: inherit;
	font-size: 1.4rem;
	padding: 1rem;
	-webkit-appearance: none; -moz-appearance: none;
	-webkit-box-shadow: 0.4rem 0.4rem 0 rgba(0,0,0,0.1); -moz-box-shadow: 0.4rem 0.4rem 0 rgba(0,0,0,0.1); box-shadow: 0.4rem 0.4rem 0 rgba(0,0,0,0.1);
}
.form_field_textarea {
	max-width: 100%;
	min-height: 6.2rem;
	overflow: auto;
	vertical-align: top;
}
.form_field_size_large { width: 100%; }
.form_field_size_medium { width: 50%; }
.form_field_size_small { width: 25%; }
.form_field_checkbox, .form_field_radio { display: none; }
.form_field_select {
	max-width: 100%;
	padding: 1rem 2.5rem 1rem 1rem;
	text-indent: 0.01px;
	text-overflow: "";
}
.svg .form_field_select {  background: rgba(255,255,255,1) url("../assets/arrow-down.svg") no-repeat right 1rem center; }
.no-svg .form_field_select { background: rgba(255,255,255,1) url("../images/arrow-down.png") no-repeat right 1rem center; }

.form_submit input {
	background: rgba(0,102,187,1);
	border-radius: 0;
	color: rgba(255,255,255,1);
	cursor: pointer;
	display: block;
	font-size: 1.4rem;
	line-height: 1;
	padding: 0.8rem 1.1rem;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

/* Footer */
.site-footer {
	font-size: 1.4rem;
	line-height: 1.5;
	margin: 3.3rem 5rem;
	text-align: center;
}
.footer-content {
	color: rgba(27,33,36,0.75);
	margin-bottom: 1.3rem;
}
.footer-content a { color: rgba(0,102,187,0.75); }
.footer-content a:hover { color: rgba(0,102,187,1); }
.edicy-link {
	border: 1px solid rgba(0,0,0,0.1);
	color: rgba(27,33,36,0.75);
	display: inline-block;
	font-size: 1rem;
	font-weight: 600;
	line-height: 1;
	padding: 0.7rem 0.9rem;
}
.edicy-link:hover {
	border: 1px solid rgba(0,0,0,0.3);
	color: rgba(27,33,36,0.75);
}

/* Tablet view */
@media screen and (max-width: 980px) {
	/* General */
	.page-wrap { max-width: 100%;	}

	/* Header */
	.header-inner-left { padding-left: 3rem; }
	.header-inner-right { padding-right: 3rem; }

	/* Content wrap */
	.pad-46-5 { padding: 4.6rem 3rem; }

	/* Footer */
	.site-footer { margin: 3.3rem 3rem; }
}

@media screen and (max-width: 900px) {
	/* Menus */
	.main-menu-wrap, .search-wrap, .sub-nav { display: none; }
	.mobile-menu-btn-wrap {
		cursor: pointer;
		display: inline-block;
		margin-left: 1rem;
		vertical-align: middle;
		width: 25px;
	}
	.mobile-menu-stripe {
		background: rgba(0,0,0,1);
		height: 4px;
		margin: 4px 0;
		width: 100%;

	}
	.mobile-menu-wrap .menu li {
		border-bottom: 1px solid rgba(105,107,108,0.2);
		display: block;
		font-size: 2rem;
		text-align: left;
	}
	.mobile-menu-wrap .menu li:first-child { border-top: 1px solid rgba(105,107,108,0.2); }
	.mobile-menu-wrap .menu li a {
		color: rgba(27,33,36,0.67);
		display: block;
		font-weight: 600;
		padding: 1rem 3rem;
	}
	.mobile-menu-wrap .menu li .active { color: rgba(131,133,134,0.67); }
	.mobile-sub-menu li { padding-left: 2rem; }

	/* Content area */
	.fp-content-wrap { padding: 10.15rem 3rem; }
}

/* Mobile view */
@media screen and (max-width: 740px) {
	/* General */
	html { font-size: 54.5%; }
	/* Menus */
	.sub-menu-inner { padding: 1.2rem 0 1.4rem; }
	.sub-menu-wrap .filters-wrap { margin-left: 0; }
	/* Content area */
	.fp-content-wrap { padding: 10.15rem 3rem; }
	.content-wrap { padding: 2.6rem 3rem; }

	/* Blog posts */
	.post-wrap { padding: 0; }
	.post-inner-right { max-width: 100%; }

	/* Forms */
	.form_field_textfield, .form_field_textarea, .form_field_size_medium, .form_field_size_small { width: 100%; }
}

@media screen and (max-width: 600px) {
	/* Content area */
	.content-inner-half {
		float: none;
		padding: 4.6rem 3rem;
		width: auto;
	}
	.content-inner-half:last-child { padding: 0 3rem 3rem; }
	.content-inner-half iframe {
		display: block !important;
	}
	.tmp-map {
		float: none;
		display: block;
		width: 100%;
	}
}

@media screen and (max-width: 431px) {
	/* Gallery */
	.edys-gallery-area a { width: 50%; }
}

/* Retina */
@media all and (-webkit-min-device-pixel-ratio: 2) {
	.fp-content-wrap {
		background: url("../photos/front-page-content-bg@2x.jpg") center top no-repeat;
		background-size: cover;
	}
}

/* IE 9/10/11/ hacks */
@media screen and (min-width:0\0) {
	.lang-menu-popover {
		border: 1px solid #e1e1e1;
	}
	.form_field_select {
		background: rgba(255,255,255,1);
		height: 3.5rem;
		padding: 0 0 0 1rem;
	}
}