.product-content {
  .edy-buy-button-container {
    margin: 24px 0;
  }

  .content-gallery {
    margin: 24px 32px;
  }

  .product-price {
    padding: 12px 0 24px 0;

    .product-price-original {
      display: inline-block;
      padding-right: 4px;
      opacity: .4;
    }

    .product-price-final {
      display: inline-block;
    }
  }

  .product-cross-page-info {
    margin-bottom: 32px;
  }
}

.dark-background {
  .edy-product-widget-filter-sort,
  .edy-product-widget-filter-search-input {
    opacity: .7;
  }

  .edy-product-widget-filter-label {
    opacity: .5;
  }
}
