.product-content {
  .edy-buy-button-container {
    margin: 24px 0;
  }

  .content-gallery {
    margin: 24px 32px;
  }

  .product-price {
    padding: 12px 0 24px 0;

    &-divider {
      margin: 0 4px;
    }
  }
}
